#root {
	position: relative;
	min-height: 100vh;
	text-align: center;
	font-family: 'Roboto Slab', serif;
}

@media (min-width: 501px) {

	div.icon-container,
	nav.toggled-flex-container {
		display: none;
	}

	.profile-wrapper {
		max-width: 460px;
	}
}

@media (max-width: 500px) {
	nav.flex-container {
		display: none;
	}

	.profile-wrapper {
		max-width: 90vw;
	}

	@keyframes page-slide-in {
		0% {
			transform: translateY(-68px)
		}

		100% {
			transform: translateY(0);
		}
	}

	@keyframes page-slide-out {
		0% {
			transform: translateY(0);
		}

		100% {
			transform: translateY(-68px);
		}
	}

	.page-slide-in {
		animation: page-slide-in 0.6s forwards;
	}

	.page-slide-out {
		animation: page-slide-out 0.6s forwards;
	}
}

@keyframes slide-in {
	0% {
		transform: scaleY(0);
	}

	100% {
		transform: scaleY(1);
	}
}

@keyframes slide-out {
	0% {
		transform: scaleY(1);
	}

	100% {
		transform: scaleY(0);
	}
}

div.slide-in {
	animation: slide-in 0.6s forwards;
	transform-origin: top;
}

div.slide-out {
	transform-origin: top;
	animation: slide-out 0.6s forwards;
}

.flex-container,
.toggled-flex-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 1.2em;
	padding: 0.9em 0.4em;
	background-color: hsl(343, 74%, 23%, 5%);
}

.icon-container {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	border: 2px solid #660f27;
	height: 2.4em;
	width: 2.4em;
	transition: 0.3s;

	&>* {
		height: 100%;
		width: 100%;
		padding: 7px;
		fill: #660f27;
	}
}

.icon-container:active {
	transform: scale(0.9);
}

.icon {
	background: transparent;
	color: #660f27;
	cursor: pointer;
}

.nav-link {
	text-decoration: none;
	background: none;
	color: #660f27;
	cursor: pointer;
	transition: 0.3s;
}

.nav-link:hover {
	text-decoration: 1px underline;
	text-underline-offset: 3px;
}

/* Login // Register // LoginSuccess */

.auth-header {
	margin: 1.2em 0 0;
	color: #660f27;
	font-size: 1.5rem;
}

.auth-header-cursive {
	margin-top: 0.6em;
	padding: 0.5em 0;
	background-color: hsl(343, 74%, 23%, 5%);
	color: #660f27;
	font-size: 2rem;
	font-family: 'Dancing Script', cursive;
}

.auth-img {
	object-fit: cover;
	border-radius: 100%;
	width: 170px;
	height: 170px;
	max-height: 80vw;
	max-width: 80vw;
	box-shadow: 0 0 6px 1px #222222;
	appearance: none;
}

.auth-form {
	display: flex;
	flex-direction: column;
	margin: auto;
	color: #660f27;
	max-width: 400px;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 1.4em;
}

.input-label {
	margin-bottom: 0.9em;
}

.input-field {
	margin: 0 5%;
	border: none;
	border-radius: 50px;
	padding: 0 1em;
	line-height: 3em;
	box-shadow: inset 0 0 4px #222222;
	appearance: none;
	transition: 0.3s;
	font-size: 0.9rem;
}

.input-field:focus {
	line-height: 3.5em;
}

.form-btns {
	display: flex;
}

.styled-btn {
	margin: 2.5em auto;
	border: none;
	border-radius: 50px;
	padding: 0.6em 1.4em;
	font-size: 1rem;
	box-shadow: 0 0 2px #222222;
	transition: 0.3s;
}

.auth-btn {
	background: #734060;
	color: #FFFFFF;
}

.back-btn {
	background: #404673;
	color: #FFFFFF;
}

.auth-btn:disabled,
.back-btn:disabled {
	background: #FFFFFF;
	color: gray;
}

.styled-btn:active {
	transform: scale(0.9);
}

.profile-el {
	margin-bottom: 30px;
}

.profile-wrapper {
	display: flex;
	flex-direction: column;
	margin: auto;
	border: 1px solid hsl(343, 74%, 23%, 30%);
	border-radius: 10px;
}

.profile-text {
	padding: 1em 1em 0;
	background-color: hsl(343, 74%, 23%, 5%);
	color: #222222;
	font-size: 1rem;
	font-weight: 400;
	text-align: justify;
}

.profile-header {
	color: #660f27;
	font-weight: 500;
}

.profile-bio {
	padding-bottom: 1em;
}

.error-section>p {
	margin: 2em 5% 0;
	border: 1px solid hsl(343, 74%, 23%, 50%);
	border-radius: 2px;
	background: hsl(343, 74%, 23%, 5%);
	line-height: 2.2rem;
	color: #921538;
}

/* Recipes || RecipeCard */

.recipe-wrapper {
	margin-bottom: 3em;
}

.recipe-div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
}

@media (min-width: 501px) {
	.recipe-wrapper {
		margin-bottom: 2em;
		max-width: 500px;
	}

	.recipe-img {
		border-radius: 2px;
		max-width: 490px;
	}
}

.cursive-header {
	margin: 0.7em auto 0.5em;
	color: #660f27;
	font-family: 'Dancing Script', cursive;
	font-size: 2rem;
}

.recipe-info-wrapper {
	padding: 0em 0.6em 0.6em;
}

.recipe-el {
	margin-top: 14px;
	text-align: start;
	background: transparent;
}

.recipe-img {
	object-fit: cover;
	box-shadow: 0 0 2px 1px #222222;
	appearance: none;
	height: 33lvh;
	width: 100vw;
	cursor: pointer;
	transition: 0.3s;
}

.view-btn {
	border: none;
	border-radius: 50px;
	padding: 0 3em;
	font-size: 1rem;
	box-shadow: 0 0 2px #222222;
	transition: 0.3s;
}

.recipe-img:hover {
	box-shadow: 0 0 6px 1px #222222;
}

.recipe-facts-wrapper {
	display: flex;
	justify-content: space-between;
}

.recipe-facts {
	font-weight: 300;
}

.difficulty-icon {
	fill: gold;
	background-color: transparent;
}

.empty-icon {
	background-color: transparent;
}

.timestamp {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: #3C3C3C;
}

.recipe-title {
	font-size: 1.4rem;
	font-weight: 500;
	background: none;
	color: #660f27;
}

.large-red-btn {
	margin: 0.2em auto 1em;
	background: #921538;
	color: #FFFFFF;
	font-size: 1.2rem;
}

.large-red-btn:hover, #create-recipe-btn:hover {
	background: #660f27;
}

.fork-btn {
	margin: 1.5em auto 0;
	background: #404673;
	color: #FFFFFF;
}

.fork-btn:hover {
	background: #525A94;
}

/* Single Recipe */

.single-recipe-img {
	object-fit: cover;
	height: 40vh;
	width: 100vw;
}

/* Loading */

.loading-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 65vh;
}

/* Home */

.feat-recipe-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	width: 90vw;
	max-width: 500px;
}

.home-sub-header {
	align-self: flex-start;
	margin-bottom: 0.8em;
	color: #660f27;
}

.feat-recipe-img {
	object-fit: cover;
	border-radius: 6px;
	width: 100%;
	aspect-ratio: 1/1;
	cursor: pointer;
	transition: 0.3s;
}

.feat-recipe-el {
	align-self: flex-start;
	text-align: justify;
	margin-top: 10px;
}

.difficulty-rating {
	align-self: center;
}

.feat-categories-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2em auto auto;
	width: 90vw;
	max-width: 500px;
}

.cuisine-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.cuisine-item {
	margin-bottom: 1em;
	padding: 0;
	text-align: start;
	width: 46%;
	appearance: none;
}

.cuisine-contents-wrapper {
	display: flex;
	flex-direction: column;
}

.cuisine-img {
	align-self: center;
	aspect-ratio: 1/1;
	border-radius: 4px;
	width: 100%;
}

.cuisine-title {
	padding-top: 0.4em;
	color: #660f27;
}

/* Footer */

#scroll-up-btn {
	position: fixed;
	bottom: 0;
	right: 0;
	border: none;
	border-radius: 8px 0 0 0;
	background: #222222;
	fill: #FFFFFF;
	font-size: 3rem;
	width: 70px;
	cursor: pointer;
}

/* CreateRecipe */

#recipeMethod {
	margin-bottom: 5%;
	padding: 0.5em 0.9em;
	border-radius: 10px;
	line-height: 2em;
	font-family: 'Roboto Slab', serif;
}

#recipeMethod:focus {
	padding: 0.9em 0.9em;
}

.btn-container {
	display: flex;
	justify-content: space-between;
	background: none;
}

.btn-container-alt {
	display: flex;
	justify-content: space-around;
	background: none;
}

.add-btn {
	margin: 2em auto 1em;
	background: #734060;
	width: 9.5em;
	color: #FFFFFF;
}

.clear-all-btn {
	margin: 2em auto 1em;
	background: #404673;
	width: 9.5em;
	color: #FFFFFF;
}

#create-recipe-btn {
	margin-top: 2em;
	background: #921538;
	font-size: 1.2rem;
}

.ingredients-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0 5% 5%;
	border-radius: 10px;
	padding: 1em;
	box-shadow: inset 0 0 4px #222222;
	line-height: 1.5rem;
	appearance: none;
	min-height: 20px;
}

.recipe-list-ingredient {
	grid-column: 1;
	text-align: start;
}

.recipe-list-quantity {
	grid-column: 2;
	text-align: end;
}

.recipe-form-internal-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 5%;
}

.ingredient-field-wrapper {
	margin-bottom: 5%;
}

#ingredient-field, #quantity-field {
	margin-right: 0;
	border-radius: 10px;
}

.recipe-list-item {
	background: none;
	padding: 0;
}

.create-recipe-error-section>p {
	margin: 5%;
}

.ready-text {
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 10px;
}

/* RecipeSuccess */

.recipe-success-header {
	font-size: 2.5em;
}

.recipe-success-img {
	margin: 2em auto;
}

.recipe-success-text {
	text-align: justify;
}

/* Error */

.error-container {
	margin-top: 30%;
	margin-bottom: 30%;
	padding: 2em 0;
	background: rgb(15, 39, 102, 20%);
}

.error-header {
	margin: 1em auto 0.8em;
	background: none;
	font-size: 10vw;
}

.transparent-div {
	background: transparent;
}