#root {
	position: relative;
	min-height: 100vh;
	text-align: center;
	font-family: "Inter", sans-serif;
}

@media (min-width: 501px) {
	div.icon-container,
	nav.toggled-flex-container {
		display: none;
	}
}

@media (max-width: 500px) {
	nav.flex-container {
		display: none;
	}
}

@keyframes slide-in {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}

@keyframes slide-out {
	0% {
		transform: scaleY(1);
	}
	100% {
		display: none;
		transform: scaleY(0);
	}
}

div.slide-in {
	animation: slide-in 0.6s forwards;
	transform-origin: top;
}

div.slide-out {
	transform-origin: top;
	animation: slide-out 0.6s forwards;
}

.flex-container,
.toggled-flex-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 1.2em;
	padding: 0.9em 0.4em;
	background-color: hsl(343, 74%, 23%, 5%);
}

.icon-container {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	border: 2px solid #660f27;
	height: 2.4em;
	width: 2.4em;
	transition: 0.3s;

	& > * {
		height: 100%;
		width: 100%;
		padding: 7px;
		fill: #660f27;
	}
}	

.icon-container:active {
	transform: scale(0.9);
}

.icon {
	background: transparent;
	color: #660f27;
	cursor: pointer;
}
