* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #FEFDFE;
  color: #222222;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1.2em solid #660f27;
  width: 100vw;
  padding: 0.8em 1.1em;
}

footer {
  position: absolute;
  bottom: 0;
  background: #660f27;
  height: 1.2em;
  width: 100%;
}

span {
  background: none;
  color: #660f27;
  cursor: pointer;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.6rem;
  font-weight: 700;
  color: #660f27;
  background: transparent;
}